<%= render 'shared/banner' %>

<div class="home-container">
  <div class="wrapper" id="wrapper1">
    <div class="container text-center">
      <div class="row margined-v">
        <h1>What can I use ClerkBot for.</h1>
      </div>
      <div class="row justify-content-lg-center" id="icons-row">
        <div class="col-lg-3">
          <i class="home-icon fa fa-calendar-check-o"></i>
          <p>Allow your customers to book directly through the messenger platform. With NO commissions charged.</p>
        </div>
        <div class="col-lg-3">
          <i class="home-icon fa fa-arrow-circle-up"></i>
          <p>Improve your results by promoting your services directly to your customers.</p>
        </div>
        <div class="col-lg-3">
          <i class="home-icon fa fa-users"></i>
          <p>Get more information about your customers. Including pictures, likes and contacts.</p>
        </div>
        <div class="col-lg-3">
          <i class="home-icon fa fa-map-marker"></i>
          <p>Provide relevant information about your property using external online services, such as GMaps for directions.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper" id="wrapper2">
    <div class="container">
      <div class="row text-center">
        <h1>Personalize it with images and custom texts.</h1>
      </div>
      <div class="row justify-content-center margined" id="phonerow">
        <div class="col-lg-5">
          <%= image_tag "phone.png", class: "home-phone pull-right" %>
        </div>
        <div class="col-lg-4">
          <div class="lis-inlinepull-left">
            <ul class="list-inline">
            <br>
              <p><i class="fa fa-pencil"></i> <strong>You choose</strong></p>
              <p>How to develop your bots using your own texts.</p>
            </ul><br>
            <ul class="list-inline">
              <p><i class="fa fa-user-o"></i> <strong>Your service philosophy</strong></p>
              <p>Adapt it to the character and image of your organization.</p>
            </ul><br>
            <ul class="list-inline">
              <p><i class="fa fa-adjust"></i> <strong>Shape it</strong></p>
              <p>To be more or less formal according to your target market.</p>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper" id="wrapper3">
    <div class="container text-center">
      <div class="row margined-v">
        <h1>Our PMS partners.</h1>
      </div>
      <div class="row justify-content-lg-center" id="icons-row">
        <div class="col-lg-2 padded-h text-center">
          <div class="pms-logo">
            <%= image_tag "Bookalet.png", class: " " %>
            </div>
          <h6>Bookalet</h6>
        </div>
        <div class="col-lg-2 padded-h text-center">
          <div class="pms-logo">
            <%= image_tag "cloudbeds.png", class: " " %>
            </div>
          <h6>Cloudbeds</h6>
        </div>
        <div class="col-lg-2 padded-h text-center">
          <div class="pms-logo">
            <%= image_tag "Seekom.png", class: " " %>
            </div>
          <h6>Seekom</h6>
        </div>
        <div class="col-lg-2 padded-h text-center">
          <div class="pms-logo">
            <%= image_tag "base7.png", class: " " %>
            </div>
          <h6>Base7</h6>
        </div>
        <div class="col-lg-2 padded-h text-center">
          <div class="pms-logo">
            <%= image_tag "preno.png", class: " " %>
            </div>
          <h6>Preno</h6>
        </div>
        <div class="col-lg-2 padded-h text-center">
          <div class="pms-logo">
            <%= image_tag "hotelminder.png", class: " " %>
            </div>
          <h6>HotelMinder</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-social-links-wrapper">
    <div class="footer-social-links-container">
      <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
      <a href="https://www.github.com"><i class="fa fa-github"></i></a>
      <a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>
      <a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
    </div>
  </div>
</div>
